* {
	box-sizing: border-box;
}

body {
	background: url("../img/coffee-blocks.jpeg") no-repeat fixed;
	background-size: cover;	  
}

main {
	width: 100%;
	padding-bottom: 75px;
}

.banner {
	width: 100%;
}

nav {
	position: fixed;
	width: 100%;
	background-color: #44d9e6;
	bottom: 0px;
	left: 0px;
	padding: 15px 30px;
	text-align: center;
}

section {
	padding: 20px 40px;
}

nav>div {
	display: inline-block;
	min-width: 100px;
	width: 20%;
	height: 30px;
	border-radius: 6px;
	padding: 6px;
	background-color: white;
}

hr {
	width: 80%;
	margin: 10px auto;
}

.portfolio>h4 {
	width: 45%;
	padding: 5px;
	margin: auto;
	font-size: 23px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.about, .port-item, .contact {
	background-color: white;
	background-color:rgba(255, 255, 255, 0.95);  
	
}

.about, .contact {
	margin: 35px 50px;	
}

.port-item {
	margin: 10px 20px;
	padding: 20px;
}

.contact>h4, .port-item h4 {
	margin: 5px 0;
}

.contact, .contact>div, h4 {
	text-align: center;
}

.contact>div {
	display: inline-block;
	min-width: 120px;
	width: 12%;
	height: 33px;
	margin: 15px 0;
	background-color: #44d9e6;
	padding: 8px;
	border-radius: 6px;
}

a {
	text-decoration: none;
}


