* {
	box-sizing: border-box;
}

body {
	background: url("../img/yellow-flower.jpg") no-repeat fixed;
	background-size: cover;	  
	font-family: 'Cabin', sans-serif;
}

main {
	width: 100%;

}

.banner {
	width: 100%;
}

nav {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;

	text-align: center;
}

section {
	padding: 20px 40px;
}

nav>a {
	display: inline-block;
	color: black;
	width: 11%;
	height: 33px;
	padding: 2px;
	background-color: #FFFF00;
	text-decoration: none;
	vertical-align: top;

}

nav>a:hover {
	background-color: #EEEE00;
}

a>div {
	padding: 6px;
}

.welcome {
	width: 450px;
	margin: 200px 100px;
	text-align: left;
	padding-left: 0;
}

.welcome>h2 {
	font-family: 'Oleo Script', cursive;
	font-size: 55px;
}

.welcome>h4 {
	font-size: 27px;
}

.welcome>h2, .welcome>h4 {
	margin: 4px 0;
}

.welcome>hr, .welcome>h4 {
	text-align: left;
}

.welcome>hr {
	margin-left: 0;
}

div.message {
	margin: 4px 0;
}

p.message1, p.message2 {
	display: inline-block;
	color: black; 
	font-family: "Courier";
	font-size: 22px;
	margin: -200px 0 0 100px;
	padding-top: 3px;
	padding-bottom: 100px;
	white-space: nowrap; 
	overflow: hidden;  
	width: 80%;
}

p.message1 {
	animation: type 3s steps(60, end); 
}

p.message2 {
	animation: type2 4s steps(60, end);
}

span.blinker {
	animation: blink 1s infinite;
}

@keyframes type { 
	from { width: 0; } 
} 

@keyframes type2 {
	0% { width: 0; }
	50% { width: 0; }
	100% { width: 100; } 
} 

@keyframes blink {
	to { opacity: .0; }
}

.contact div:hover, .links a:hover {
	color: #EEC900;
}

.links a {
	color: black;
}

hr {
	width: 80%;
	margin: 10px auto;
}

section.portfolio {
	background-color: none;
	padding: 0;
	width: 100%;
}

.portfolio>h4 {
	color: black;
	font-size: 23px;
	padding: 5px;
	margin: 15px auto;
	text-align: center;
}

.port-item, .skills {
	background-color:rgba(255, 255, 255, 0.90);  
}

.port-item:hover, .skills:hover {
	background-color: white;
}

.contact, .skills {
	width: 80%;
	margin: 35px auto;	
}

.about {
	background-color: #FFD700;
	font-size: 20px;
	padding: 25px 100px;
	margin: 40px 0;
	text-align: center;
}

.port-item {
	display: inline-block;
	width: 45%;
	min-height: 222px;
	margin: 5px 20px;
	padding: 15px;
	vertical-align: top;
	box-shadow: 2px 2px 4px #636363;
}

.contact>h4, .port-item h4 {
	margin: 5px 0;
}

.contact, .contact div {
	text-align: center;
}

.contact div {
	display: inline-block;
	font-size: 28px;
	color: black;
	height: 33px;
	margin: 5px;
}

.contact a {
	text-decoration: none;
}

.skill-col {
	display: inline-block;
	width: 25%;
}

.skill-col>p {
	margin: 4px;
}

.cms {
	font-style: italic;
}

@media only screen and (min-width: 583px) and (max-width: 835px) {

	.port-item {
		width: 40%;
	}

}

@media only screen and (max-width: 583px) {

	.port-item {
		width: 90%;
	}

}